<!DOCTYPE html>
<html>
	<head>
    	<h1 align="center">video about krishna</h1>
      <style>
        #video{
          align:center;
        }
        p{
          color:red;
        }
        h1{
          color:cyan;
        }
      </style>
    </head>
	<body>

        <iframe  align="right" id="video" width="50%" height="315" src="https://www.youtube.com/embed/pAxrgJF-wfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <b><p align="center">Enjoy the full song of lord rama</p></b>
		<br>
		<br>
		<p align="center"><a href="{{ url_for('avathar')}}">CLick here to find avathars of lord vishnu!</a></p>
		
		<br>
		<br><br><br>
		<p align="center"><a href="{{ url_for('index')}}"><-----click here to Go back to home</a></p>
	</body>
</html>
