<html>
	<head>
		<title>Image of lord venkateswara with kati varada hastha</title>
		<h1 align="center">Hello! have a look about venkateswara</h1>
	</head>
	<body>
		<br>
		<br>
		<br>
		<p align="left">
              <img src="/static/venkateswara.jpg" alt="picture of lord" width="35%" align="right">
					Lord Venkateswara (Sanskrit: वेङ्कटेश्वर, IAST: Vēṅkaṭēśvara), also known as Śrīnivāsa,<br>
					Bālājī, Vēṅkaṭa, Venkata Ramana, Vēṅkaṭāchalapati, Tirupati Timmappa, Ezhumalaiyaan,<br>
					Edukondalavaadu, Aapadamokkulavadu and Govindha, is a form of the Hindu god Maha Vishnu.<br>
					Lord Venkateswara is the presiding deity of Tirumala Venkateswara Temple located in Tirupati,<br>
					Andhra Pradesh, India.
				<br>

        </p>
		<br>
		<br><br><br>
		<p align="center"><a href="{{ url_for('index')}}"><-----click here to Go back to home</a></p>
	</body>
</html>